<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="TheWeakestRivalEntities"
			 connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP-MANUGOD\SQLEXPRESS;initial catalog=TheWeakestRival;persist security info=True;user id=Register;password=12345678;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
		<add name="TheWeakestRivalDb"
			connectionString="Data Source=LAP-MANUGOD\SQLEXPRESS;Initial Catalog=TheWeakestRival;User ID=Register;Password=12345678;TrustServerCertificate=True;MultipleActiveResultSets=True"
			providerName="System.Data.SqlClient" />

	</connectionStrings>

	<system.serviceModel>

		<bindings>
			<wsDualHttpBinding>
				<binding name="DualBinding" />
			</wsDualHttpBinding>

			<wsHttpBinding>
				<binding name="DefaultWsHttp" />
			</wsHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>

			<service name="ServicesTheWeakestRival.Server.Services.AuthService"
					 behaviorConfiguration="DefaultBehavior">
				<endpoint address="http://localhost:8080/Auth"
						  binding="wsHttpBinding" bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IAuthService" />
				<endpoint address="http://localhost:8080/mex/auth"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.LobbyService"
					 behaviorConfiguration="DefaultBehavior">
				<endpoint address="http://localhost:8080/Lobby"
						  binding="wsDualHttpBinding" bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.ILobbyService" />
				<endpoint address="http://localhost:8080/mex/lobby"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.MatchmakingService"
					 behaviorConfiguration="DefaultBehavior">
				<endpoint address="http://localhost:8080/Matchmaking"
						  binding="wsDualHttpBinding" bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.IMatchmakingService" />
				<endpoint address="http://localhost:8080/mex/matchmaking"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.GameplayService"
					 behaviorConfiguration="DefaultBehavior">
				<endpoint address="http://localhost:8080/Gameplay"
						  binding="wsDualHttpBinding" bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.IGameplayService" />
				<endpoint address="http://localhost:8080/mex/gameplay"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.StatsService"
					 behaviorConfiguration="DefaultBehavior">
				<endpoint address="http://localhost:8080/Stats"
						  binding="wsHttpBinding" bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IStatsService" />
				<endpoint address="http://localhost:8080/mex/stats"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

		</services>
	</system.serviceModel>
</configuration>
