<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings configSource="ConnectionStrings.secrets.config" />
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding>
				<security mode ="None">
					<message clientCredentialType="None"/>
						<transport clientCredentialType="None"/>
				</security>
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="DualBinding">
					<security mode ="None"/>
				</binding>
			</wsDualHttpBinding>
			<wsHttpBinding>
				<binding name="DefaultWsHttp">
					<security mode ="None"/>
				</binding>
			</wsHttpBinding>
		
	</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="ServicesTheWeakestRival.Server.Services.AuthService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/auth/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IAuthService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.LobbyService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/lobby/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsDualHttpBinding"
						  bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.ILobbyService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.MatchmakingService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/matchmaking/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsDualHttpBinding"
						  bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.IMatchmakingService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.GameplayService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/gameplay/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsDualHttpBinding"
						  bindingConfiguration="DualBinding"
						  contract="ServicesTheWeakestRival.Contracts.Services.IGameplayService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.StatsService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/stats/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IStatsService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="ServicesTheWeakestRival.Server.Services.FriendService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/friends/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IFriendService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name ="ServicesTheWeakestRival.Server.Services.WildcardService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/wildcards/"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="DefaultWsHttp"
						  contract="ServicesTheWeakestRival.Contracts.Services.IWildcardService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>

	<!-- SMTP: sensibles en App.Secrets.config (con raíz <appSettings>) -->
	<appSettings file="App.Secrets.config">
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="EmailFrom" value="The Weakest Rival &lt;TheWeakestRival@gmail.com&gt;"/>
		<add key="EmailCodeTtlMinutes" value="10"/>
		<add key="EmailResendCooldownSeconds" value="60"/>
	</appSettings>



	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\server.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline%exception" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>

</configuration>