<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="TheWeakestRivalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:(local);initial catalog=TheWeakestRival;persist security info=True;user id=Register;password=********;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="TheWeakestRivalDb"       connectionString="Data Source=tcp:(local);Initial Catalog=TheWeakestRival;User ID=Register;Password=********;TrustServerCertificate=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
